body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1, h2, h3 {
    color: #444;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 30px;
    padding: 20px;
    border-top: 2px solid #eee;
}

#recipeId {
    display: none;
}

#recipeIngredients {
    list-style-type: none;
    padding-left: 0;
}

#recipeIngredients li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

#recipeIngredients li:last-child {
    border-bottom: none;
}
